* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

body {
    background-color: white;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-text {
    text-align: center;
    margin-bottom: 20px;
    color: #1C446B;
} 

header {
    background-color: #1C446B;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; /* Garante que o header ocupe toda a largura */
    position: relative;
    top: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container h2{
    color: white;
    font-weight: 100;
    font-size: large;
}
.title-container {
    flex-grow: 1;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title-container h1{
    color: white;
    font-size: x-large;
}
.time{
    margin-left: 100px;
}

nav a {
    margin: 10px;
    font-size: large;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.logo {
    max-width: 50px;
    margin-right: 15px;
}

header h1 {
    font-size: 24px;
    font-weight: 400;
    color: black;
}

main {
    flex: 3; /* Faz com que o main ocupe o espaço restante entre header e footer */
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #1C446B;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}

ul li h3 {
    color: #1C446B;
    margin-bottom: 5px;
}

ul li p {
    margin: 5px 0;
}

ul li a {
    color: #ca1e1e;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1C446B;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%; /* Garante que o footer ocupe toda a largura */
    position: fixed;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo dentro do footer */
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

