* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
    
}

body {
    background: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header {
    width: 100%;
    background-color: #1C446B;
    backdrop-filter: blur(30px);
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container {
    flex-grow: 1;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title-container h1{
    color: white;
    font-size: x-large;
}
.time{
    margin-left: 100px;
}

nav a {
    margin: 10px;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: black;
}

.logo {
    max-width: 50px;
    margin-right: 15px;
}

header h1 {
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.container {
    background-color: rgb(255, 243, 243);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: 100%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: black;
}

.input-container {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    text-align: center;
}

.input-container input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    border-color: #1C446B;
}

.input-container input::placeholder {
    color: black;
}

.input-container img {
    position: absolute;
    right: 24px;
    top: 20%;
    margin-top: 5px;
}

.input-container a {
    font-size: 16px;
    margin-top: 5px;
    color: black;
    text-decoration: none;
}

.input-container a:hover {
    text-decoration: underline;
}

.submit-button {
    width: 100%;
    height: 50px;
    background-color: #1C446B;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    text-align: center;
}

.submit-button:hover {
    background-color: #4483c2fb;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-3, .col-md-5, .col-md-4 {
    padding: 15px;
}

.border-right {
    border-right: 1px solid #ddd;
}

.text-center {
    text-align: center;
}

.font-weight-bold {
    font-weight: 700;
}

.text-black-50 {
    color: rgba(0, 0, 0, 0.5);
}

.rounded-circle {
    border-radius: 50%;
}

.labels {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #f4eff5;
}

.profile-button {
    background-color: #1C446B;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.profile-button:hover {
    background-color: #682773;
}

.experience span {
    font-size: 16px;
    font-weight: 600;
}

textarea.form-control {
    height: 100px;
    resize: none;
}

@media (max-width: 768px) {
    .border-right {
        border-right: none;
    }

    .row {
        flex-direction: column;
    }

    .col-md-3, .col-md-5, .col-md-4 {
        padding: 0;
    }
}